@inherits LayoutComponentBase
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- top -->
    <!-- header -->
    <header class="header-area">
        <div class="left">
            <a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
        <div class="right">
            <a href="Javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a>
        </div>
        <div class="container">
            <div class="row d_flex">
                <div class="col-sm-3 logo_sm">
                    <div class="logo">
                        <a href="index.html"></a>
                    </div>
                </div>
                <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9">
                    <div class="navbar-area">
                        <nav class="site-navbar">
                            <ul>
                                <li><a class="active" href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="action.html">take course</a></li>
                                <li><a href="index.html" class="logo_midle">DN</a></li>
                                <li><a href="news.html">news</a></li>
                                <li><a href="doctores.html">authors</a></li>

                                <li><a href="contact.html">Contact </a></li>
                            </ul>
                            <button class="nav-toggler">
                                <span></span>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
@Body
    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="hedingh3 text_align_left">
                            <h3>Resources</h3>
                            <ul class="menu_footer">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">What we do</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Media</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Travel Advice</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Protection</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Care</a>
                                </li>
                            </ul>


                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="hedingh3 text_align_left">
                            <h3>About</h3>
                            <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various</p>
                        </div>
                    </div>



                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="hedingh3  text_align_left">
                            <h3>Contact  Us</h3>
                            <ul class="top_infomation">
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    Making this the first true
                                </li>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    Call : +01 1234567890
                                </li>
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="Javascript:void(0)">Email : demo@gmail.com</a>
                                </li>
                            </ul>


                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="hedingh3 text_align_left">
                            <h3>countrys</h3>
                            <div class="map">
                                <img src="images/map.png" alt="#" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <p>© 2021 All Rights Reserved. Design by <a href="https://html.design/"> Dars e Nizami</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    @*<div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>*@
